/* styles.css */

* {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    font-family: Georgia, Garamond, serif;
    font-size: 50px;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}
.links {
    color: red;
    background-color: cadetblue;
}

.home-button {
    background-color: black;
    color: white;
    text-align: center;
    
}

.image {
    background-color: black;
}